<div id="popup-proxy" data-bind-clicks="true" data-html2canvas-ignore="true"></div>
<div id="popup" data-bind-clicks="true" class="min" style="display: none;" data-html2canvas-ignore="true"></div>
<div id="main-header" class="header fixed" data-enhance="false"></div>
<div id="main-footer" class="footer fixed" data-enhance="false"></div>
<div class="components"></div>
<div class="layouted layout-main" data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" id="main-panel"></div>
<div id="modal"></div>