<div class="has-fixed-header">
    <div class="header fixed red">
        <h2>Sign in</h2>
        <a href="#main-panel" rel="panel" class="menu-ico"></a>
    </div>

    <div class="content">
        <h2>{{hello}}</h2>
        <p>
            Just a simple cross-platform app
        </p>
        <a href="#" class="btn green">Give me a chance</a>
    </div>
</div>