.search-form {
    position: relative;

    .search-ico {
        position: absolute;
        left: 10px;
        top: 7px;
        display: inline-block;
        .img-sprite(3, 0, 15px, 16px);
    }

    input {
        width: 100%;
        height: 33px;
        padding-left: 32px;
        line-height: inherit;
        display: inline-block;
        border: 1px solid #d9d9d9;
        -webkit-appearance: none;
        border-radius: 16px;
    }
}
