#modal {
    color: white;
    display: none;
    padding: 0;
    padding-top: @grid-gutter-width;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-modal;
    background-color: rgba(0, 0, 0, 0.8);
    outline: 0;
    -webkit-overflow-scrolling: touch;
    .translate(0, 100%);
    .transition-transform(250ms ease-out);

    .locker-shown & {
        z-index: @zindex-locker;
    }

    &.in {
        .translate(0, 0);
    }

    .btn-close {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        .img-sprite(6, 0, 26px, 26px);
        .box-sizing(content-box);
        border: 18px solid transparent;
        border-top-width: 10px;
        border-right-width: 10px;
        background-origin: content-box;
        background-clip: content-box;
    }

    body.status-bar-overlays-web-view.env-ios & {
        padding-top: @grid-gutter-width + @status-bar-height-ios;

        .btn-close {
            border-top-width: 10px + @status-bar-height-ios;
        }
    }

    body.status-bar-overlays-web-view.env-android & {
        padding-top: @grid-gutter-width + @status-bar-height-android;

        .btn-close {
            border-top-width: 10px + @status-bar-height-android;
        }
    }
}
