<div class="has-fixed-header">
    <div class="header fixed red">
        <h2>Start</h2>
        <a href="#main-panel" rel="panel" class="menu-ico"></a>
    </div>

    <div class="content">
        <h3>This is the main page</h3>
        Visit time: {{date}}
    </div>
</div>